{% extends 'backg.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .menu-details-container {
            max-width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
             background-color: #F9F6F0;
            margin-top: 20px;
            font-family: Arial, sans-serif;
        }
</style>
{% endblock %}
{% block title %}Edit Menu{% endblock %}

{% block body %}
    <main>
        <article>
            <div class="menu-details-container">
        
                <div class="row">
                    <div class="col-md-8 offset-md-2 menu-form">
                        <h1>Edit Menu</h1>
                        {{ form_start(form, {'attr': {'class': 'menu-form', 'name': 'menuForm'}}) }}
                        <div class="form-group">
                            <label for="nom" class="menu-label">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control menu-nom', 'placeholder' : 'Nom' }}) }}
                            {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="prix" class="menu-label">Prix</label>
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control menu-prix', 'placeholder' : 'Prix' }}) }}
                            {{ form_errors(form.prix,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="calories" class="menu-label">Calories</label>
                            {{ form_widget(form.calories, {'attr': {'class': 'form-control menu-calories', 'placeholder' : 'Calories' }}) }}
                            {{ form_errors(form.calories,{'attr':{'class':'text-danger'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="description" class="menu-label">Description</label>
                            {{ form_widget(form.description, {'attr': {'class': 'form-control menu-description', 'placeholder' : 'Description' }}) }}
                            {{ form_errors(form.description,{'attr':{'class':'text-danger'}}) }}
                        </div>
                        <div class="aa">
                            <img src="{{ asset('uploads/images/' ~ form.vars.value.image) }}" alt="Menu Image"style="max-width: 300px;"></td>
                        </div>
                        <div class="form-group">
                            <label for="image" class="menu-label">Image</label>
                            {{ form_widget(form.image, {'attr': {'class': 'form-control menu-image'}}) }}
                            {{ form_errors(form.image,{'attr':{'class':'text-danger'}}) }}
                        </div>
                        <div class="buttons">
                            <button type="submit" class="btn btn-danger">{{ button_label|default('Update') }}</button>
                            <a href="{{ path('app_menu_index') }}" class="btn">Back to list</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </article>
    </main>
{% endblock %}
